flows.json
[
    {
        "id": "757b4b1ed18cf565",
        "type": "tab",
        "label": "IoT",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a890c8902cfe680c",
        "type": "ui_button",
        "z": "757b4b1ed18cf565",
        "name": "",
        "group": "571a26db5a969cef",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Scenario 1 - Welcome/Leave",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "1",
        "payloadType": "num",
        "topic": "WSA2025\\DI1",
        "topicType": "str",
        "x": 340,
        "y": 160,
        "wires": [
            [
                "3ce46e1b32c0f37a",
                "5c81d5d9bed49234"
            ]
        ]
    },
    {
        "id": "3ce46e1b32c0f37a",
        "type": "mqtt out",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DI1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c62e8ac7f79432b",
        "x": 620,
        "y": 160,
        "wires": []
    },
    {
        "id": "f5614a11bd41e9fb",
        "type": "ui_switch",
        "z": "757b4b1ed18cf565",
        "name": "",
        "label": "Door Switch",
        "tooltip": "",
        "group": "571a26db5a969cef",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 290,
        "y": 220,
        "wires": [
            [
                "6b5ae51e3498d17f"
            ]
        ]
    },
    {
        "id": "6b5ae51e3498d17f",
        "type": "mqtt out",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/RELAY01",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c62e8ac7f79432b",
        "x": 520,
        "y": 220,
        "wires": []
    },
    {
        "id": "5c81d5d9bed49234",
        "type": "debug",
        "z": "757b4b1ed18cf565",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 620,
        "y": 120,
        "wires": []
    },
    {
        "id": "d2d6f9a9f2b97d0b",
        "type": "mqtt in",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DHT22",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c62e8ac7f79432b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 300,
        "wires": [
            [
                "88ffd5c0ed3a282d"
            ]
        ]
    },
    {
        "id": "5294bee17f2d87cf",
        "type": "mqtt in",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DHT22",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "4c62e8ac7f79432b",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 290,
        "y": 360,
        "wires": [
            [
                "065b09f549681a84"
            ]
        ]
    },
    {
        "id": "8b2ce95ebf10ec38",
        "type": "function",
        "z": "757b4b1ed18cf565",
        "name": "humidity",
        "func": "let data = JSON.parse(msg.payload);\n\nreturn[\n    {payload:parseFloat(data.humi)}\n\n]",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 360,
        "wires": [
            [
                "ed0b3fc6ad0ed81b"
            ]
        ]
    },
    {
        "id": "50c9c8afb8910fd4",
        "type": "ui_gauge",
        "z": "757b4b1ed18cf565",
        "name": "",
        "group": "571a26db5a969cef",
        "order": 7,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room Temperature",
        "label": "C",
        "format": "{{value}}",
        "min": "-25",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 810,
        "y": 300,
        "wires": []
    },
    {
        "id": "ed0b3fc6ad0ed81b",
        "type": "ui_gauge",
        "z": "757b4b1ed18cf565",
        "name": "",
        "group": "571a26db5a969cef",
        "order": 8,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Room Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "diff": false,
        "className": "",
        "x": 800,
        "y": 360,
        "wires": []
    },
    {
        "id": "88ffd5c0ed3a282d",
        "type": "json",
        "z": "757b4b1ed18cf565",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 300,
        "wires": [
            [
                "738ca567a4ae7b7e"
            ]
        ]
    },
    {
        "id": "738ca567a4ae7b7e",
        "type": "function",
        "z": "757b4b1ed18cf565",
        "name": "temperature",
        "func": "let data = JSON.parse(msg.payload);\n\nreturn[\n    {payload:parseFloat(data.temp)},\n\n]",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 300,
        "wires": [
            [
                "50c9c8afb8910fd4"
            ]
        ]
    },
    {
        "id": "065b09f549681a84",
        "type": "json",
        "z": "757b4b1ed18cf565",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 470,
        "y": 360,
        "wires": [
            [
                "8b2ce95ebf10ec38"
            ]
        ]
    },
    {
        "id": "4376ef888f26fc31",
        "type": "mqtt out",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DO1",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c62e8ac7f79432b",
        "x": 640,
        "y": 520,
        "wires": []
    },
    {
        "id": "b97ced2f30be451b",
        "type": "mqtt out",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DO2",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c62e8ac7f79432b",
        "x": 640,
        "y": 560,
        "wires": []
    },
    {
        "id": "b7ef2933565227a9",
        "type": "mqtt out",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DO3",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c62e8ac7f79432b",
        "x": 640,
        "y": 600,
        "wires": []
    },
    {
        "id": "2b0d2936833fc82d",
        "type": "mqtt out",
        "z": "757b4b1ed18cf565",
        "name": "",
        "topic": "WSA2025/DO4",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "4c62e8ac7f79432b",
        "x": 640,
        "y": 640,
        "wires": []
    },
    {
        "id": "a5cac52925d9e80d",
        "type": "ui_switch",
        "z": "757b4b1ed18cf565",
        "name": "",
        "label": "DO LIGHTS 1",
        "tooltip": "",
        "group": "571a26db5a969cef",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 520,
        "wires": [
            [
                "4376ef888f26fc31",
                "027bf20ceff2db92"
            ]
        ]
    },
    {
        "id": "7c7bfcf5856cb993",
        "type": "ui_switch",
        "z": "757b4b1ed18cf565",
        "name": "",
        "label": "DO LIGHTS 2",
        "tooltip": "",
        "group": "571a26db5a969cef",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "b97ced2f30be451b"
            ]
        ]
    },
    {
        "id": "277253c9500f69ce",
        "type": "ui_switch",
        "z": "757b4b1ed18cf565",
        "name": "",
        "label": "DO LIGHTS 3",
        "tooltip": "",
        "group": "571a26db5a969cef",
        "order": 5,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 600,
        "wires": [
            [
                "b7ef2933565227a9",
                "f7efe2b62335c449"
            ]
        ]
    },
    {
        "id": "bd19def3e44b6eb6",
        "type": "ui_switch",
        "z": "757b4b1ed18cf565",
        "name": "",
        "label": "DO LIGHTS 4",
        "tooltip": "",
        "group": "571a26db5a969cef",
        "order": 6,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "ON",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "OFF",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 280,
        "y": 640,
        "wires": [
            [
                "2b0d2936833fc82d"
            ]
        ]
    },
    {
        "id": "027bf20ceff2db92",
        "type": "debug",
        "z": "757b4b1ed18cf565",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 490,
        "y": 460,
        "wires": []
    },
    {
        "id": "f7efe2b62335c449",
        "type": "debug",
        "z": "757b4b1ed18cf565",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 440,
        "y": 700,
        "wires": []
    },
    {
        "id": "571a26db5a969cef",
        "type": "ui_group",
        "name": "HMI PANEL",
        "tab": "a68565bf31795ad8",
        "order": 1,
        "disp": true,
        "width": 6,
        "collapse": false,
        "className": ""
    },
    {
        "id": "4c62e8ac7f79432b",
        "type": "mqtt-broker",
        "name": "",
        "broker": "localhost",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "a68565bf31795ad8",
        "type": "ui_tab",
        "name": "PANEL",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8454a581303f052c",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]